<div class="search">
    <h1>{{searchValue}}</h1>
    <ul class="results">

          {{#each results}}
          <li class="search-result">
              <div class="movie-img">
                  <a href="/movies/{{id}}"><img src="{{image}}" alt="movie-image"/></a>
              </div>
              <div class="movie-info">
                  <h3><a href="/movies/{{id}}">{{title}}</a></h3>
                  <h3>{{description}}</h3>
              </div>
          </li>
          {{/each}}
    </ul>
</div>